.EmergencyMotivator {
    background-color: #ccc;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%
}

.text-basic {
    padding-top: 1em;
}

.select-basic {
    padding-top: 1em;
}

.emergency-button {
    padding-top: 1em;
}

.motivator-contact {
    display: table;
    margin: 0 auto;
}