.Start {
    background-color: #ccc;
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding-top: 50%;
}

.get-started-button {
    /* background-color: #d9f0ff; */
    padding-top: 20%;
}